$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

// ### Neutral

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated : hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23);

$padding: 5px 10px;