*,
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 11px;
    font-family: Fira Code,sans-serif;
}

body{
    width: inherit;
    height: inherit;
    display: grid;
    place-items: center;
}

.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h4{
        font-size: 1.5rem;
    }

    form{
        display: flex;
        flex-direction: column;

        input::-webkit-input-placeholder{
            margin: .5rem;
            font-size: 1rem;
            font-family: Fira Code,sans-serif;
        }

        input::-moz-placeholder{
            margin: .5rem;
            font-size: 1rem;
            font-family: Fira Code,sans-serif;
        }

        input:-ms-input-placeholder{
            margin: .5rem;
            font-size: 1rem;
            font-family: Fira Code,sans-serif;
        }

        input::-ms-input-placeholder{
            margin: .5rem;
            font-size: 1rem;
            font-family: Fira Code,sans-serif;
        }

        input::placeholder{
            margin: .5rem;
            font-size: 1rem;
            font-family: Fira Code,sans-serif;
        }
    }

    a{
        color: #591edf;
    }
}

label{
    font-weight: bold;
    margin-bottom: .9rem;
}

input:not([type="checkbox"]){
    padding: .6rem 0;
    width: 70%;
}

.terms{
    display: flex;
    align-self: flex-start;
    width: 70%;

    a{
        font-weight: bold;
    }
}

.after-check{padding-left: .8rem}

button{
    width: 70%;
    padding: .8rem .5rem;
    text-align: center;
    background-color: #591edf;
    border: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button ~ p {transform: translateX(10%)}

.right{
    width: 50%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #591edf;
    color: white;
    text-align: center;

    h2{margin: 2rem 0}

    .img{
        height: 50%;
        width: 80%;
    }

    .img{
        background-image: url('Sign Up Image.png');
        background-position: center;
        background-size: cover;
    }

    .circles{
        width: 20%;
        height: 6%;
        margin-top: .8rem;
        display: flex;
        justify-content: space-between;

        .circle{
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 100%;

            &:not(:first-of-type){
                background-color: rgba($color: white, $alpha: .6);
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .right{
        display: none;
    }
    
    .left{
        align-items: stretch;
    }

    .left h4{
        font-size: 2rem;
    }
    
    .left h1{
        font-size: 2.5rem;
    }
    .left input:not([type="checkbox"]), button{
        width: 100%;
    }

    button ~ p {
        text-align: center;
    }
}

